<h2 class='add_place_header'>Add new place</h2>
<%= simple_form_for(:place, url: places_path, html: { class: 'form-group' }) do |f|%>
  <%= f.input :name %>
  <%= f.input :description %>
  <%= f.file_field :image_path %></br></br>
  <%= f.submit 'Add place' %>
<% end %>


<h3 class='add_place_header'>Uploaded places</h3>
<div class='row images'>
  <% @places.each do |place| %>
    <div class="col-md-3">
      <div class='wrap'>
        <%= image_tag(place.image_path.url, class: 'image', size: '400') if place.image_path? %>
      <div class='title'><%= place.name %></div>
        <div class='description'><%= place.description %></div>
      </div>
    </div>
  <% end %>
</div>
